<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http:www.springframework.orgschemabeans"
       xmlns:xsi="http:www.w3.org2001XMLSchema-instance"
       xmlns:p="http:www.springframework.orgschemap"
       xmlns:context="http:www.springframework.orgschemacontext"
       xsi:schemaLocation="http:www.springframework.orgschemabeans
	  http:www.springframework.orgschemabeansspring-beans.xsd
	  http:www.springframework.orgschemacontext
	  http:www.springframework.orgschemacontextspring-context.xsd">

    <context:annotation-config />

    <context:component-scan base-package="com.dct.service.impl" />

</beans>-->
